html {
    background-color: #154360;
}
body {
    margin: 0;
    font-family:'Montserrat', sans-serif;
    background-color: white;
}

#head {
    background-color: #154360;
    height: 100px;
}

#head a {
    color: white;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    padding-top: 50px;
    display: inline-block;
    margin-left: 20px;
}

/* Hauptmenü */

#bi-main-menu {
    display: block;
    float:left;
    width: 60%;
    height: 20px;
    background-color: #1F618D;
}

#bi-main-menu a, .current-link {
    width: 15%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
}



#bi-main-menu a:hover {
    background-color: #2980B9;
}

/* Menü für geschützten Bereich */

#bi-login-logout {
    display: block;
    float: right;
    width: 40%;
    height: 20px;
    background-color: #1F618D;
}

#bi-login-logout a{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
}

#bi-login-logout a:hover {
    background-color: #2980B9;
}


/* Containerklassen */

.container {
    background-color: white;
    margin: 125px;
}
